{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}


{% block content %}

<div class="form-card">

    <h1>
        Welcome back
    </h1>

    <form id="loginForm">

        <label>
            Email

            <input
                type="email"
                name="email"
                required
            >
        </label>


        <label>
            Password

            <input
                type="password"
                name="password"
                required
            >
        </label>


        <button class="btn">
            Login
        </button>


        <p id="msg"></p>

    </form>


    <p>
        New here?

        <a href="/register">
            Create an account
        </a>
    </p>

</div>

{% endblock %}